* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, #91aac7, #6a9bc9);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
.container{
    width: 400px;
    height: 500px;
    background-color: #fff;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 20px;
}
.checked{
    text-decoration: line-through;
    color: green
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.header{
    align-content: center;
    display: absolute;
}
.header input{
    color: rgb(50, 48, 48);
    display: relative;
    width: 90%;
    border-radius: 10px;
    height: 30px;
    padding: 0 10px 0;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 10px;
}
.header button{
    color: black;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px;
    width: 50px;
    display: absolute;
    background:rgb(0, 217, 255);
    height: 25px;
    border: none;
}
ul{
    list-style: none;
    margin-top: 20px;
}
li{
    overflow-wrap: break-word; /* Wraps long words onto the next line */
    word-break: break-all;
    margin-bottom: 10px;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: rgb(138, 206, 252);
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    border-radius: 8px;
    flex-direction: row;
}
.update-btn, .delete-btn{
    border: none;
    float: right;
    border-radius: 20%;
    background: whitesmoke;
    font-size: 20px;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
}
.update-btn:hover, .delete-btn:hover{
    background: #f10d43;
    align-items: center;
    cursor: pointer;
}
.button-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
}